{% extends "index.html" %}
{% block content %}
<div class="container" id="main">
    <h1>O Statenisu</h1>
    <h2>Kaj sploh je statenis?</h2>
    <p>
    <b>Statenis</b> je projekt, ki sem se ga lotil pred približno dvema letoma. Združuje ljubezen do <b>tenisa</b> in <b>statistike</b>.
    Statenis ni običajen teniški blog, saj pozornosti ne usmerja v splošno teniško dogajanje, niti se ne fokusira na nekaj najboljših
    igralcev. Takšnih blogov in strani je dovolj, zdi pa se mi, da je premalo napisanega o tem, kaj se dogaja izven na primer elitne 
    petdeseterice. Tako kot je nogomet mnogo več kot [vstavite ime poljubnega derbija], je tudi tenis mnogo več kot le obračun
    Nadal - Djoković. Statenis se osredotoča na ATP in Challenger Tour, pri čemer bo slednji pogosto v prednostnem položaju.
    </p>
    <p>
    Dve izmed tematik, ki jima statenis posveča posebno pozornost sta <b>hitrost podlage</b> in <b>kakovostne lestvice</b>.
    Hitrost podlag je zame osebno ena najzanimivejših tematik v tenisu, pri čemer obračanju spremenljivk in dopolnjevanju ter 
    izboljševanju postopka izračuna hitrosti podlag ni konca. Lestvica ATP je ena izmed najboljših in najbolj <i>poštenih</i> 
    kakovostnih lestvic v športu nasploh, vseeno pa ima svoje pomankljivosti. Z lestvicami kot na primer Glicko Rating, lahko trenutno
    moč oziroma kakovost igralca predstavimo bolj realno.
    </p>
    <h2>Komu je statenis namenjen?</h2>
    <p>Statenis je namenjen <b>vsem ljubiteljem tenisa</b>, predvsem pa tistim, ki jih zanimajo statistične primerjave. Namenjen je
    vsakomur, ki ga zanima <b>tenis v splošnem</b> in ne le nekaj igralcev ali turnirjev. Statenis bo precej bolj zanimiv bralcem,
    ki jim skok z ATP na Challenger Tour ne jemlje poguma, volje in navdušenja.
    </p>
    <h2>Zanima me več</h2>
    <p>Vsem, ki bi želeli izvedeti več ali pa bi želeli sodelovati pri oblikovanju in ustvarjanju vsebin sem vam voljo prek
        <a class="text-link" href="{{url_for('contact')}}">kontaktnega obrazca</a>.
    </p>
</div>
{% endblock %}