<!DOCTYPE html>
<html>
    {% extends "index.html" %}
    {% block content %}
    <div class="blog-container" id="main">
        <h1>BLOG</h1>
        <div class="container-content">

            <div class="blog-article">
                <img id="block-img-1" src="#">
                <div class="overlay">
                    <div class="text">
                        <a id="blog-link" href="#">VEČ >>></a>
                    </div>
                </div>
                <div id="article-content-1">
                    <h2>teoretični uvod</h2>
                    <p>
                    Za uvod nekaj besed namenjam oblikovanju in opisu podatkovne baze. Opisujem kriterije filtriranja in grupiranja podatkov,
                    upoštevajoč omejitve, ki se pri tem pojavljajo.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</html>
