<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boogle</title>
    <link rel="stylesheet" href="HW3-style.css" type="text/css">
</head>
<body>

<div class="container">
    <div class="navbar">
        <div class="links">
            <a href="#">Gmail</a>
            <a href="#">Slike</a>
        </div>
            <img class="icon" src="https://lh3.googleusercontent.com/ogw/ADea4I58GtSqwQ47k1kbBa86LttrpfWUokj0FkxQg9WWCg=s64-c-mo">
        </div>
    <div class="content">
        <img class="banner-image" src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg">
        <input>
        <div>
            <button>Iskanje Boogle</button>
            <button>Klik na srečo</button>
        </div>

    </div>
    <div class="footer">
        <div class="foot-links">
           <a href="#">Slovenija</a>
        </div>
        <div class="line"></div>
        <div class="foot-links">
            <div>
                <a href="#">Predstavitev</a>
                <a href="#">Oglaševanje</a>
                <a href="#">Posel</a>
                <a href="#">Kako deluje iskanje Boogle</a>
            </div>
            <div>
                <a href="#">Zasebnost</a>
                <a href="#">Pogoji</a>
                <a href="#">Nastavitve</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>