<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends "index.html" %}

{% block content %}
<body id="home-body">
    <div class="container-home" id="main">
        <h1 id="home-h1">STATENIS</h1>
        <p id="home-p">Vse o tenisu nekoliko drugače.</p>
        <a class="home-a" href="#">Obišči blog &#8680;</a>
        <a class="home-a" href="#">Kaj je statenis? &#8680;</a>
        <a class="home-a" href="#">Registriraj se &#8680;</a>
    </div>
    <img id="home-img" src="#"/>
</body>
{% endblock %}

</html>