<!DOCTYPE html>
<html lang="en">
{% extends "index.html" %}

{% block content %}
<body id="home-body">
    <div class="container-home" id="main">
        <h1 id="home-h1">STATENIS</h1>
        <p id="home-p">Vse o tenisu nekoliko drugače.</p>
        <a class="home-a" href="{{url_for('blog')}}">Obišči blog &#8680;</a>
        <a class="home-a" href="{{url_for('about')}}">Kaj je statenis? &#8680;</a>
        <a class="home-a" href="{{url_for('register')}}">Registriraj se &#8680;</a>
    </div>
    <img id="home-img" src="{{url_for('static', filename='img/player.png')}}"/>
</body>
{% endblock %}
</html>